<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Yazid Slila">
    <link rel="icon" href="assets/x256.png" type="image/png">
    <title>Simplexe - Yazid Slila</title>
    <script defer src="src/estimation.api.js"></script>
    <script defer src="src/y.js"></script>
    <script src="src/vue.js"></script>
    <script src="https://unpkg.com/lockr@0.8.5/lockr.js"></script>
    <script defer src="src/estimation.app.js"></script>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" type="text/css" href="style/display.min.css">
    <link rel="stylesheet" type="text/css" href="style/theme.min.css">
</head>

<body id="app">
    <div :class="[theme,fontSize,'content']">
        <header class="head">
            Estimation
            <button @click="toggleMenu" class="menu-button">param</button>
        </header>
        <div v-if="menu" class="menu">
            <div>display precision : <input v-model="epsilon" min="0" max="10" @change="refresh" type="number">
            </div>
            <div>theme : <div class="select">{{ theme }} <select v-model="theme">
                        <option>light</option>
                        <option>dark</option>
                        <option>solarized</option>
                        <option>solarized fire</option>
                        <option>solarized gold</option>
                        <option>solarized nature</option>
                        <option>solarized shadow</option>
                    </select></div>
            </div>
            <div>size : <div class="select">{{ fontSize }} <select v-model="fontSize">
                        <option>small</option>
                        <option>normal</option>
                        <option>medium</option>
                        <option>large</option>
                        <option>extra large</option>
                    </select></div>
            </div>
        </div>
    <button @click="addRow">row</button>
    <button @click="addColumn">column</button>
    <textarea v-model="rawEntries" @keyup="parseInput">
    </textarea>
<table>
    <tr v-for="i in estimationTable">
        <td @click="alert(estimationTable.indexOf(i))" v-for="j in i">
            {{ Number(j.toFixed(epsilon)) }}
        </td>
    </tr>
</table>
</body>

</html>