<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Yazid Slila">
    <link rel="icon" href="assets/x256.png" type="image/png">
    <title>Simplexe - Yazid Slila</title>
    <!--<script defer src="src/simplexe.api.js"></script>-->
    <script defer src="src/core.min.js"></script>
    <script src="src/vue.js"></script>
    <script src="https://unpkg.com/lockr@0.8.5/lockr.js"></script>
    <script defer src="src/index.min.js"></script>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" type="text/css" href="style/display.min.css">
    <link rel="stylesheet" type="text/css" href="style/theme.min.css">
</head>

<body id="app">
    <div :class="[theme,fontSize,'content']">
        <header class="head">
            Simplexe
            <button @click="toggleMenu" class="menu-button">param</button>
        </header>
        <div v-if="menu" class="menu">
            <div>display precision : <input v-model="epsilon" min="0" max="10" @change="refresh" type="number">
            </div>
            <div>theme : <div class="select">{{ theme }} <select v-model="theme">
                        <option>light</option>
                        <option>dark</option>
                        <option>solarized</option>
                        <option>solarized fire</option>
                        <option>solarized gold</option>
                        <option>solarized nature</option>
                        <option>solarized shadow</option>
                    </select></div>
            </div>
            <div>size : <div class="select">{{ fontSize }} <select v-model="fontSize">
                        <option>small</option>
                        <option>normal</option>
                        <option>medium</option>
                        <option>large</option>
                        <option>extra large</option>
                    </select></div>
            </div>

        </div>

        <div class="input-container">
            <div class="code">
                <div class="code-highlight" v-html="codeHTML"></div>
                <textarea v-model.trim="code" @keypress="refresh" :rows="Rows"></textarea>
            </div>
            <div class="buttons-group">
                <button class="button active" @click="refresh">solve</button>
                <button class="button active" @click="format">format</button>
            </div>
        </div>
        <div class="info">
            <div>nombre des iterations : {{ table.length == 0 ? 0 :table.length - 1}}</div>
            <div>iteration numéro : {{ i }}</div>
            <div>precision : {{ epsilon }}</div>
            <div v-if="OK || i==table.length-1">{{ solution }}</div>
            {{ alpha }}
        </div>
        <div v-if="OK" v-html="table[i]"></div>
        <div class="error" v-else v-html="Error"></div>

        <div v-if="OK" class="navigation">
            <button :class="prevStyle" @click="prev">prev</button>
            <button :class="nextStyle" @click="next">next</button>
        </div>
    </div>

</body>

</html>