html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    height: 100%;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

* {
    outline: none;
}

input {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    padding: 10px;
    -webkit-appearance: none;
}

button {
    box-sizing: border-box;
}

.content {
    min-height: 100%;
}

input:invalid {
    background-color: #d45;
    color: #fff;
}

table {
    border-collapse: collapse;
    width: calc(100% - 2em);
    text-align: center;
    justify-content: center;
    padding: 1em;
    box-sizing: border-box;
    margin: 1em;
}

td {
    border: 1px solid #07f;
    padding: .3em;
}

td.input {
    background-color: #ff0;
}

tr.v-input {
    background-color: #8f0;
}

tr.v-input>td.input {
    background-color: #bf0;
}

.button {
    border: 0;
    padding: .5em;
    border-radius: .5em;
    height: auto;
    font-size: 1rem;
    background-color: #678;
    opacity: .7;
    color: #fff;
    box-sizing: border-box;
    cursor: not-allowed;
}

.button.active {
    background-color: #07f;
    opacity: 1;
    cursor: pointer;
}

.error {
    display: flex;
    width: calc(100% - 2em);
    min-height: 75px;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    margin: 1em;
    background-color: #d45;
    color: #ffe;
    border-radius: .7em;
}

.head {
    width: 100%;
    height: 60px;
    background-color: #dd4455;
    color: #fff;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.menu {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #fff;
    box-shadow: 0 2px 3px #678;
    padding: 0;
    border-radius: 0 0 15px 15px;
    z-index: 1;
}

.menu>div {
    padding: 20px;
}

.menu>div:not(:last-child) {
    border-bottom: 1px solid #000;
}

textarea {
    width: 100%;
    border: 0;
    border-radius: 1em;
    padding: 1em;
    background-color: transparent;
    font-family: monospace;
    box-sizing: border-box;
    position: absolute;
    top:0;
    left: 0;
    font-size: 1.5rem;
}
textarea:not(:focus){
    color:transparent;
}
.code-highlight{
    width: 100%;
    border: 0;
    border-radius: 1em;
    padding: 1em;
    background-color: rgba(0, 0, 0, .1);
    font-family: monospace;
    color: #fff;
    box-sizing: border-box;
    font-size: 1.5rem;
}
.code{
    width: 50%;
    position: relative;
}

.menu-button {
    background-color: rgba(0, 0, 0, .1);
    border: 0;
    height: 40px;
    top: 10px;
    right: 10px;
    position: absolute;
    border-radius: 10px;
    padding: 10px;
}

.input-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    position: relative;
}
.buttons-group {
position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: 5px;
}
.buttons-group>button{
    margin:5px;
}
@media screen and (max-width:500px) {
    .input-container{
        flex-direction:column;
        justify-content: center;
    }
    .buttons-group{
        flex-direction: row;
    }
    .code{
        width: calc(100% - 20px);
        margin: 0 10px ;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: calc(100% - 60px);
        right: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .head{
        position: static;
    }
}
select{
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
}
.select{
    position: relative;
    display: inline-flex;
    cursor: pointer;
}
.info{
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
    float: right;
}