table{
    border-collapse: collapse;
    width: calc(100% - 2em);
    text-align: center;
    justify-content: center;
    padding: 1em;
    box-sizing: border-box;
    margin: 1em;
}
td{
    border: 1px solid #07f;
    padding: .3em;
}
td.input{
    background-color: #ff0;
}
tr.v-input{
    background-color: #8f0;
}
tr.v-input>td.input{
    background-color: #bf0;
}
.button{
    border: 0;
    padding: .5em;
    border-radius: .5em;
    height: auto;
    font-size: 1rem;
    background-color: #678;
    opacity: .7;
    color:#fff;
    box-sizing: border-box;
}
.button.active{
    background-color: #07f;
    opacity: 1;
}
.error{
    display: flex;
    width: calc(100% - 2em);
    min-height:75px;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    margin: 1em;
    background-color: #d45;
    color: #ffe;
    border-radius: .7em;
}
.head{
    
}