html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    height: 100%;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

* {
    outline: none;
}

input {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    padding: 10px;
}

button {
    box-sizing: border-box;
}

.content {
    min-height: 100%;
}

input:invalid {
    outline:#f00 solid 2px;
    color: #f00;
}

table {
    border-collapse: collapse;
    width: calc(100% - 2em);
    text-align: center;
    justify-content: center;
    padding: 1em;
    box-sizing: border-box;
    margin: 1em;
}

td {
    border: 1px solid;
    padding: .3em;
}

.button {
    border: 0;
    padding: .5em;
    border-radius: .5em;
    height: auto;
    font-size: 1rem;
    opacity: .7;
    box-sizing: border-box;
    cursor: not-allowed;
}

.button.active {
    opacity: 1;
    cursor: pointer;
}

.error {
    display: flex;
    width: calc(100% - 2em);
    min-height: 75px;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    margin: 1em;
    border-radius: .7em;
}

.head {
    width: 100%;
    height: 60px;
    background-color: #dd4455;
    color: #fff;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.menu {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #fff;
    box-shadow: 0 2px 3px #678;
    padding: 0;
    border-radius: 0 0 15px 15px;
    z-index: 1;
}

.menu>div {
    padding: 20px;
}

.menu>div:not(:last-child) {
    border-bottom: 1px solid #000;
}

.highlighted .hidden-textarea {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    resize: none;
    z-index: 1;
}

.code:not(.highlighted) .code-highlight {
    display: none;
}

.highlighted .code-highlight,
.code:not(.highlighted) .hidden-textarea {
    /*background-color: rgba(0, 0, 0, .1);*/
    color: #fff;
    z-index: 0;
}

.code-highlight,
textarea {
    width: 100%;
    border: 0;
    border-radius: 1em;
    padding: 1em;
    line-height: var(--line);
    font-size: var(--font);
    box-sizing: border-box;
    font-family: monospace;
    overflow: auto;
    white-space: nowrap;
}

.code {
    width: 50%;
    position: relative;
}

.menu-button {
    background-color: rgba(0, 0, 0, .1);
    border: 0;
    height: 40px;
    top: 10px;
    right: 10px;
    position: absolute;
    border-radius: 10px;
    padding: 10px;
}

.input-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.buttons-group {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: 5px;
}

.buttons-group>button {
    margin: 5px;
}

@media screen and (max-width:500px) {
    .input-container {
        flex-direction: column;
        justify-content: center;
    }

    .buttons-group {
        flex-direction: row;
    }

    .code {
        width: calc(100% - 20px);
        margin: 0 10px;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: calc(100% - 60px);
        right: 0;
        border-radius: 0;
        box-shadow: none;
        z-index: 5;
    }

    .head {
        position: fixed;
        top: 0;
        left: 0;
    }

    .content {
        padding-top: 60px;
    }

    .info {
        width: 100%;
        width: calc(100% - 20px);
        margin: 10px;
    }
}

select {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.select {
    position: relative;
    display: inline-flex;
    cursor: pointer;
}

.info {
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
    float: right;
    margin: 0 10px 10px 0px;
}

.content.small {
    --font: .875rem;
    --line: 1rem;
}

.content.normal {
    --font: 1rem;
    --line: 1.5rem;
}

.content.medium {
    --font: 1.125rem;
    --line: 1.75rem;
}

.content.large {
    --font: 1.25rem;
    --line: 1.75rem;
}

.content.extra.large {
    --font: 1.5rem;
    --line: 2rem;
}