.content.light {
    --bg: #f0f0f0;
    --elm: #fdfcfd;
    --txt1: #262626;
    --txt2: #494a4a;
    --txt3: var(--txt1);
    --mark1: #ff0;
    --mark2: #bf0;
    --mark3: #0f0;
    --accent: #07f;
    --disable:#888;
}

.content.dark {
    --bg: #222;
    --elm: #555;
    --txt1: #fff;
    --txt2: #ddd;
    --txt3: var(--txt1);
    --mark1: rgb(160, 160, 116);
    --mark2: rgb(150, 160, 119);
    --mark3: rgb(117, 160, 117);
    --accent: #4a4a4a;
    --disable:#888;
}

.content.solarized {
    --bg: #fdf6e3;
    --elm: #eee8d5;
    --txt0: #002b36;
    --txt1: var(--bg);
    --txt2: #073642;
    --txt3: var(--bg);
    --mark0: #93a1a1;
    --mark1: #839496;
    --mark2: #657b83;
    --mark3:#586e75;
    --accent: #268bd2;
    --disable:#888;
}
.content.solarized.fire{
    --accent: #dc322f;
}
.content.solarized.gold{
    --accent: #b58900;
}
.content.solarized.nature{
    --accent: #2aa198;
}
.content.solarized.shadow {
    --bg:#002b36;
    --elm:#073642;
    --txt0: #fdf6e3;
    --txt1: var(--txt0);/*;#268bd2*/
    --txt2: #eee8d5;
    --txt3: var(--bg);
    --mark3: #93a1a1;
    --mark2: #839496;
    --mark1: #657b83;
    --accent: var(--elm);
    --disable:#888;
}

.content {
    background-color: var(--bg);
}

textarea,
input,
button,
.content {
    color: var(--txt2);
}

td {
    border-color: var(--txt2);
    background-color: var(--elm);
}

td.input {
    background-color: var(--mark2);
    color: var(--txt3);
}

tr.v-input td{
    background-color: var(--mark1);
    color: var(--txt3);
}

tr.v-input>td.input {
    background-color: var(--mark3);
    color: var(--txt3);
}

.head {
    background-color: var(--accent);
    color: var(--txt1);
}
.button{
    background-color: var(--disable);
    color: var(--txt1);
}
.button.active {
    background-color: var(--accent);
    color: var(--txt1);
}

.dark * ,
.solarized.shadow *{
    box-shadow: none;
}

.menu {
    background-color: var(--elm);
}

.menu-button {
    color: var(--txt1);
}

@media screen and (max-width:500px) {
    .menu{
        background-color: var(--bg);
    }
}